.mainBacground {
    background: url(./cats-bg.jpg) no-repeat;
    background-size: cover;
<<<<<<< HEAD

=======
>>>>>>> ed189af530ba4155bb6029e49372060de7b19a5f
}

.imageChangeSize img {
    object-fit: cover;
    height: 306px;
    width: 100%;
}
